{{ ansible_managed | comment }}
[Unit]
Description=Ansible Runtime Analyser

[Service]
Type=simple
ExecStart={{ ara_binary_location }}/ara-manage runserver
ExecStop=/usr/bin/killall ara-manage

[Install]
WantedBy=multi-user.target